<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Botão de pesquisa">
    <mat-icon>menu</mat-icon>
  </button>
  <app-products-autocomplete></app-products-autocomplete>
  <div>
    <button mat-icon-button aria-label="Favoritos">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Carrinho de compras">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button aria-label="Conta de usuário">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
