
.product-card {
  width: 16rem;
  height: 27.25rem;
  align-items: stretch;
  justify-content: space-between;

  img {
    align-self: center;
    max-width: 220px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    strong {
      padding-top: 1rem;
      font-size: 1.5rem;
      color: red;
    }
  }

  mat-card-actions {
    button {
      width: 100%;
    }
  }
}
